*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
google-services.json
app/release/
.kotlin/
.vscode/
CHANGELOG.md
docs/crash_analytics.md
release/
API_SETUP.md
nasamirrorapi